body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}
a {
    text-decoration: none;
    cursor: pointer;
}
/* navbar */
.navbar {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 6px 6px 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    align-items: center;
}
.menu-text {
    padding-left: 15px;
    text-decoration: none
}
.upper-menu {
    color: rgba(0,0,0,0.87);
}
.upper-menu:hover {
    text-decoration: underline;
}
#account-wrapper {
    padding-left: 10px;
}
#account {
    border-radius: 50%;
    padding: 4px;
    margin-top: 4px;
}
#account:hover {
    background-color: rgba(60,64,67,0.08);
    transition: background 180ms ease;
}
#more-apps {
    padding: 8px;
    fill: #5f6368;
    margin-top: 4px;
}
#more-apps:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50%;
    padding: 8px;
    transition: background 180ms ease;
}
/* main */
.biglogo {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.main-form {
    padding: 20px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchbox {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 70vw;
    max-width: 584px;
    position: relative;
    min-height: 38px;
    height: 44px;
}
.main-buttons-wrapper {
    display: flex;
    align-content: center;
    height: 70px;
    padding-top: 18px;
    justify-content: center;
}
.main-buttons {
    min-width: 54px;
    height: 36px;
    text-align: center;
    padding: 0px 16px;
    margin: 11px 4px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    background-color: #f8f9fa;

}
.main-buttons:hover {
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.more-languages {
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
.body-links {
    color: #1a0dab;
    padding: 0px 3px;
}
/* Footer */
.footer-nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.footer-list-left {
    display: flex;
    list-style: none;
}
.footer-list-right {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 25px;
}